body {
    color: white;
    background-color: black;
    font-family: 'Quattrocento', serif;
    background: url('../images/himym-bg.png')  no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
    display: block;
    position: relative;
    background-position: 0 200px;
}

.banner {
    background: url('../images/himym-banner.png') center;
    background-size: cover;
    padding: 85px;
    overflow: auto;
}

.results {
    color: black;
}
.stats {
    background: rgb(41, 0, 0);
    border: red 1px dashed;
    padding: 3px;
}

.playerStats {
    background: url('../images/office.png') repeat;
    border: black 2px solid;
    
}
/* div {
    border: red 1px solid;
} */

p {
    font-size: 24px;
    color: white;
    margin-left: 5px;
}
  
h1 {
    color: white;
    font-size: 72px;
}

h2{
    color:black;
    text-align: center;
}

h3 {
    background: black;
    border: black 2px solid;
    color:White;
    padding: 5px;
    font-size: 50px;
}
  

h4 {
    font-weight: bolder;
}
  
.outerStartContainer, .triviaStart {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
input {
    visibility:hidden;
}

label {
    padding:5px;
    display: block;
    background-color: black;
    margin: 3px 0px;
    cursor: pointer;
    font-size: 24px;
}
  
label:hover {
    background-color: #990808;
    transition: 500ms;
    
}


#quizGameArea {
    background: url('../images/office.png') repeat;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nextButton {
    border: 3px solid #ff0303;
	color: #ff0303;
	background-color: white;
	padding: 15px 35px;
	margin: 5px 0px 10px 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
.nextButton:hover {
   background-color: #ff0303;
   color:white;
    transition: 500ms;
}
